NODE_ENV=production
AUTH_SECRET=superscretchangeitplz
NEO4J_URI_BOLT=bolt://neo4j:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password
VITE_API_URL=http://127.0.0.1:5001
DATABASE_URL=postgresql://flowsint:flowsint@localhost:5433/flowsint
REDIS_URL=redis://redis:6379/0
HIBP_API_KEY=
ETHERSCAN_API_KEY=
WHOXY_API_KEY=
