fastapi
redis
celery
holehe
python-dotenv
uvicorn
sherlock-project
python-jose[cryptography]
requests
python-whois
pydig
ghunt
ignorant
hibpwned
phonenumbers
pydantic[email]
neo4j
faker
sqlalchemy
psycopg2-binary
asyncpg
alembic==1.13.0
passlib[bcrypt]
sse-starlette
networkx
mistralai
beautifulsoup4
lxml
requests-random-user-agent
spacy
docker
git+https://github.com/soxoj/maigret
git+https://github.com/reconurge/recontrack.git
git+https://github.com/reconurge/reconcrawl.git
git+https://github.com/reconurge/reconspread.git
pytest-asyncio
stix2