fastapi
redis==5.0.1
celery==5.3.6
redis==5.0.1
holehe
dotenv
uvicorn
sherlock_project
python-jose[cryptography]
python-dotenv
requests
git+https://github.com/soxoj/maigret
python-whois
pydig
ghunt
ignorant
hibpwned
phonenumbers
pydantic[email]
fastapi[all]
neo4j
faker
sqlalchemy 
psycopg2-binary
alembic
passlib[bcrypt]
sse-starlette
networkx
pydantic_neo4j
mistralai
beautifulsoup4
lxml
requests-random-user-agent
spacy
docker